body {
    margin: 0;
    font-family:  Roboto, sans-serif;
    font-size: 16px;
    color: black;
}
a {text-decoration: none;}
progress::-webkit-progress-value { background: #3366ff; }
      .Name {
position: absolute;
font-family: Revalia;
font-style: normal;
font-weight: normal;
padding-top: 10vh ;
padding-left: 10%;
font-size: 48px;
line-height: 60px;
text-align: center;
color: #34547A;
}
    .text1{ 
position: absolute;
width: 541px;
height: 45px;
left: 733px;
top: 289px;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 79px;
color: #000000;
}
    .text2 {
position: absolute;
width: 540px;
height: 67px;
left: 734px;
top: 394px;
font-style: normal;
font-weight: normal;
line-height: 26px;
color: #727272;
}
     .img{
position: absolute;
width: 357px;
left: 246px;
top: 310px;
}
      body {
background-color : #EEEFF1;
}
     .button {
position: absolute;
width: 225px;
height: 65px;
left: 734px;
top: 521px;
background: #34547A;
}
      .button2 {
position: absolute;
width: 142.4px;
height: 51.54px;
left: 647.55px;
top: 4814.76px;
background: #34547A;
}
     .text3 {
font-style: normal;
font-weight: normal;
line-height: 26px;
text-align: center;
letter-spacing: 0.1em;
color: #FFFFFF;
}
    .phone1 {
position: absolute;
width: 100%;
height: 700px;
left: 0px;
top: 0px;
background: #EEEFF1;
}
       .phone2 {
position: absolute;
width: 100%;
height: 359px;
left: 0px;
top: 700px;
background: #FFFFFF;
}
       .phone3 {
position: absolute;
width: 100%;
height: 151px;
left: 0px;
top: 5008px;
background: #34547A;
}
        .phone4 {
position: absolute;
width: 100%;
height: 250px;
left: 0px;
top: 1059px;
background: #34547A;
}
    .aboutme {
position: relative;
height: 30px;
top: 144px;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 37px;
text-align: center;
color: #000000;
}
   .text4 {
position: absolute;
width: 540px;
top: 224px;
left: 449px;
font-style: normal;
font-weight: normal;
line-height: 26px;
text-align: center;
color: #727272;
}
    .text5 {
position: absolute;
height: 19px;
left: 204.5px;
top: 0px;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;
color: #FFFFFF;
}
    .text6 {
position: absolute;
height: 12px;
left: 204.5px;
top: 39px;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 21px;
color: #FFFFFF;
}
    .text7 {
position: relative;
height: 28.11px;
top: 4100.7px;
margin-left: auto;
margin-right: auto;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 37px;
text-align: center;
color: #000000;
}
    .text8 {
position: relative;
width: 404.72px;
height: 62.78px;
margin-left: auto;
margin-right: auto;
top: 4264.66px;
font-style: normal;
font-weight: normal;
line-height: 26px;
text-align: center;
color: #727272;
}
      .text9 {
position: relative;
width: 404.72px;
height: 67px;
margin-left: auto;
margin-right: auto;
top: 1800px;
font-style: normal;
font-weight: normal;
line-height: 26px;
text-align: center;
color: #727272;
}
     .text10 {
position: relative;
width: 302.04px;
margin-left: auto;
margin-right: auto;
height: 30px;
top: 1633px;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 37px;
text-align: center;
color: #000000;
}
     .text11 {
position: absolute;
width: 128px;
height: 15px;
left: 146px;
top: 1763px;
font-style: normal;
font-weight: normal;
line-height: 26px;
color: #727272;
}
     .text12 {
position: absolute;
width: 128px;
height: 15px;
left: 146px;
top: 1625px;
font-style: normal;
font-weight: normal;
line-height: 26px;
color: #727272;
}
     .text13 {
position: absolute;
width: 128px;
height: 15px;
left: 146px;
top: 1694px;
font-style: normal;
font-weight: normal;
line-height: 26px;
color: #727272;
}
    .text14 {
position: absolute;
width: 53.21px;
height: 15px;
left: 1068.01px;
top: 115px;
font-style: normal;
font-weight: normal;
line-height: 26px;
color: #FFFFFF;
}
    .text15 {
position: absolute;
width: 53.21px;
height: 15px;
left: 925.61px;
top: 115px;
font-style: normal;
font-weight: normal;
line-height: 26px;
color: #FFFFFF;
}
    .text16 {
position: absolute;
width: 53.21px;
height: 15px;
left: 783.21px;
top: 125px;
font-style: normal;
font-weight: normal;
line-height: 26px;
color: #FFFFFF;
}
    .text17 {
position: absolute;
width: 53.21px;
height: 15px;
left: 640.8px;
top: 115px;
font-style: normal;
font-weight: normal;
line-height: 26px;
color: #FFFFFF;
}
    .text18 {
position: absolute;
width: 53.21px;
height: 15px;
left: 498.4px;
top: 115px;
font-style: normal;
font-weight: normal;
line-height: 26px;
color: #FFFFFF;
}
    .text19 {  
position: absolute;
width: 53.21px;
height: 15px;
left: 356px;
top: 115px;
font-style: normal;
font-weight: normal;
line-height: 26px;
color: #FFFFFF;
}
     .text20 {
position: absolute;
width: 26.98px;
height: 19px;
left: 1068.01px;
top: 90px;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;
color: #FFFFFF;
}
     .text21 {
position: absolute;
width: 26.98px;
height: 19px;
left: 925.61px;
top: 90px;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;
color: #FFFFFF;}
     .text22 {
position: absolute;
width: 26.98px;
height: 19px;
left: 783.21px;
top: 90px;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;
color: #FFFFFF;
}
     .text23 {
position: absolute;
width: 26.98px;
height: 19px;
left: 640.8px;
top: 90px;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;
color: #FFFFFF;
}
     .text24 {
position: absolute;
width: 26.98px;
height: 19px;
left: 498.4px;
top: 90px;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;
color: #FFFFFF;
}
     .text25 {
position: absolute;
width: 26.98px;
height: 19px;
left: 356px;
top: 90px;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;
color: #FFFFFF;
}
    .img2 {
position: absolute;
width: 32.81px;
left: 1115.44px;
top: 5px;
}
    .img3 {
position: absolute;
width: 32.81px;
left:  1017px;
top: 5px;
}
    .img4 {
position: absolute;
width: 32.81px;
left: 1066.22px;
top: 5px;
}
     .img5 {
position: absolute;
height: 450px;
left: 740px;
top: 1443px;
}
     .img6 {
position: absolute;
height: 70px;
left: 1007.54px;
top: 100px;
}
     .img7 {
position: absolute;
height: 70px;
left: 865.14px;
top: 100px;
}
     .img8 {
position: absolute;
height: 70px;
left: 722.74px;
top: 100px;
}
     .img9 {
position: absolute;
height: 70px;
left: 580.34px;
top: 100px;
}
     .img10 {
position: absolute;
height: 70px;
left: 437.94px;
top: 100px;
}
     .img11 {
position: absolute;
height: 70px;
left: 295.54px;
top: 100px;
}

      .img12 {
position: absolute;
width: 33.3333333%;
left: 0px;
top: 3444px;
}
      .img13 {
position: absolute;
width: 33.3333333%;
left: 66.6666666%;
top: 3444px;
}
      .img14 {
position: absolute;
width: 33.33333333%;
left: 33.33333333%;
top: 2994px;
}
      .img15 {
position: absolute;
width: 33.33333333%;
left: 66.66666666%;
top: 2994px;
}
      .img16 {
position: absolute;
width: 33.3333333%;
left: 33.3333333%;
top: 3444px;
}
      .img17 {
position: absolute;
width: 33.3333333%;
left: 0%;
top: 2994px;
}
      .web-site1 {
position: absolute;
width: 191.12px;
height: 46.85px;
left: 730.74px;
top: 4538.35px;
background: #FFFFFF;
}
      .web-site2 {
position: absolute;
width: 191.12px;
height: 46.85px;
left: 517.14px;
top: 4538.35px;
background: #FFFFFF;
}
       .web-site3 {
position: absolute;
width: 404.72px;
height: 163.98px;
left: 517.14px;
top: 4603.94px;
background: #FFFFFF;
}
       .clients1 {
position: absolute;
width: 255px;
left: 1019px;
top: 4058px;
}
        .clients2 {
position: absolute;
width: 255px;
left: 734px;
top: 4058px;
}
          .clients3 {
position: absolute;
width: 255px;
left: 449px;
top: 4058px;
}
          .clients4 {
position: absolute;
width: 255px;
left: 164px;
top: 4058px;
}
       .video {
position: absolute;
width: 831.92px;
height: 600px;
left: 303.54px;
top: 2266px;
}
      .progres1 {
position: absolute;
width: 445px;
height: 4px;
left: 145px;
top: 1798px;
background: #C4C4C4;
}
      .progres2 {
position: absolute;
width: 445px;
height: 4px;
left: 145px;
top: 1729px;
background: #C4C4C4;
}
      .progres3 {
position: absolute;
width: 445px;
height: 4px;
left: 145px;
top: 1660px;
background: #C4C4C4;
}
.header {
         display: flex;
         flex-direction: row;
         justify-content: flex-end;
         padding-top: 15vh ;
         padding-right: 10%;
         justify-content: space-around;
         padding-left: 50%;
        }
        .maine {
            color: black;
        }
