@media {
body {
    margin: 0;
    font-family:  Roboto, sans-serif;
    font-size: 16px;
    color: black;
}

a {text-decoration: none; 
color: black}
progress::-webkit-progress-value { background: #3366ff; }
      .name {
font-family: Revalia;
font-size: 48px;
color: #34547A;
padding-right: 30%;
}
.skillbar {
     display: flex;
     flex-direction: column;
     justify-content: start;
     padding-bottom: 17%;
}
.text3 {
     color: #FFFFFF;

     }
     .menu{
          padding-top: 30px;  
     }
     .header {
          display: flex;
          flex-direction: row;
          justify-content: space-between; 
          flex-wrap: initial;
          width: 80%;
          padding-top: 10vh ;
          padding-right: 10%;
          padding-left: 10%;
     
        }
        .clients {
          display: flex;
          flex-direction: row;
          justify-content: space-between; 
          flex-wrap: initial;
          width: 80%;
          padding-top: 10vh ;
          padding-right: 10%;
          padding-left: 10%;
     
        }
        .dis {
             display: flex;
             flex-direction: row;
             justify-content: space-around;
             padding: 10%;
             align-items: flex-end;
        }
        .skills {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          padding: 10%;
          align-items: flex-end;
     }
        body {
          background-color : #EEEFF1;
          }
    .text1{ 
font-size: 48px;
text-align: center;
color: #000000;
}
    .text2 {
margin: auto;
text-align: center;
color: #727272;
}

     .img{
width: 35%;
}
     .button {
width: 40%;
height: 65px;
margin-top: 5%;
margin-left: 30%;
background: #34547A;
color: blanchedalmond;
}
      .button2 {
width: 20%;
height: 51.54px;
background: #34547A;
margin-top: 1%;
margin-left: 40%;
color: blanchedalmond;
}
       .phone2 {
height: 100px;
padding-bottom: 10%;
padding-right: 30%;
padding-left: 30%;
padding-top: 10%;
background: #FFFFFF;
}
       .phone3 {
width: 100%;
height: 120px;
background: #34547A;
margin-top: 10%;
}
        .phone4 {
height: 70px;
padding: 5% 8% 6.5% 8%;
background: #34547A;
}
    .aboutme {
height: 30px;
padding-top: 5%;
margin-left: auto;
font-size: 32px;
text-align: center;
color: #000000;
}

    .text5 {
margin-left: 10%;
font-weight: 500;
font-size: 21px;
color: #FFFFFF;
}
    .text6 {
margin-left: 10%;
font-size: 13px;
color: #FFFFFF;
}

     .text20 {
width: 26.98px;
font-size: 21px;
color: #FFFFFF;
}
    .img2 {
width: 70px;
}
    .img3 {
width: 55px;
}
     .img6 {
height: 75px;
}

      .img14 {
width: 68.4666666vh;
left: 0%;
top: 0.6vh;
}
      .img17 {
width: 68.4666666vh;
left: 0%;
top: 0.6vh;
}
      .web-site1 {
width: 19%;
height: 46.85px;
background: #FFFFFF;
margin: 1%;
}
       .web-site3 {
width: 40.1%;
height: 163.98px;
left: 29.75%;
top: 153.94px;
background: #FFFFFF;
}
       .clients1 {
width: 80%;
}

       .video {
width: 100%;
height: 69.3vh;
padding-top: 2%;
padding-bottom: 2%;
}
      .progres1 {
width: 445px;
height: 4px;
background: #C4C4C4;
}
.projects {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;

}
.projects > div {
     display: flex;
     flex-direction: row;
     justify-content: space-around;

}
.photo {
      padding-bottom: 0%;
      padding-top: 0%;
     display: flex;
     flex-direction: row;
     justify-content: flex-start;
}
.site {
     display: flex;
     flex-direction: row;
     justify-content: center;
}
.links {
     display: flex;
     flex-direction: row;
     padding-left: 70%;
     justify-content: flex-end;
     align-items: center;
}
.footer {
     display: flex;
     flex-direction: row-reverse;
     padding-left: 10%;
     padding-right: 10%;
}
.design {
     padding-left: 10%;
     padding-right: 10%;
}
.work {
     padding-left: 30%;
     padding-right: 30%;
}
.projecttext {
     width: 30%;
     color: blanchedalmond;
}
.want_site {
     padding-left: 30%;
     padding-right: 30%;
}

}
